body {
  font-family: Verdana,Arial,Helvetica,sans-serif;
  color: #1B1B1B;
}

h3 a {
  color: #1B1B1B;
}

h1, h1 a {
  margin-bottom: 0px;
  color: #1B1B1B;
  text-decoration: none;
}

.container {
  width: 60%;
  margin-left: 50px;
}

.intro {
  margin-bottom: 30px;
}

.subtle, .subtle a {
  color: #aaa;
}

.code {
  padding: 10px;
  background-color: #222222; 
  border: medium double #aaa;
  color: #eee;
  font-family: monospace;
  font-size: 1.2em;
}

.highlight pre {
  border-style: none; 
  padding: 0px;
}

pre {
  padding: 10px;
  border: thin dashed #aaa;
  color: #888;
  font-size: 15px;
  font-weight: bold;
}

.post {
  margin-bottom: 35px;
}
